@model MyLearningProject.DAL.Entities.Instructor
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Ana Sayfa</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/InstructorAnalysis/Profile/2" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Profilim</span></a>
                    <a class="waves-effect waves-dark" href="/InstructorAnalysis/AddCourse" aria-expanded="false"><i class="mdi mdi-settings-box"></i><span class="hide-menu">Kurs Ekle</span></a>
                    <a class="waves-effect waves-dark" href="/Web/Index" aria-expanded="false"><i class="mdi mdi-broom"></i><span class="hide-menu">Siteye Git</span></a>
                </li>




                <!---SAYFALAR KISMI Bitiş-->




            </ul>

        </nav>


    </div>


</aside>


