@model MyLearningProject.DAL.Entities.Message






<div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
    <form method="post">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", autocomplete = "off" })            
                    <label for="name">Your Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", autocomplete = "off" })                    <label for="email">Your Email</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", autocomplete = "off" })                    <label for="subject">Subject</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", autocomplete = "off" })                    <label for="message">Message</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
            </div>
        </div>
    </form>
</div>