
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
          


                <!---Veritabanı KISMI-->


                <style>
                    /* Alt sekmeleri gizlemek için CSS */
                    .nav-second-level {
                        display: none;
                    }

                    /* Ana menü öğesine tıklanıldığında alt sekmeleri göstermek için CSS */
                    .has-submenu:hover .nav-second-level {
                        display: none;
                    }
                </style>
                <li>
                    <a class="waves-effect waves-dark" href="/AboutDesign/Index" aria-expanded="false">
                        <i class="mdi mdi-table"></i>
                        <span class="hide-menu">Veri Tabanları</span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>

                            <a class="waves-effect waves-dark" href="/Category/Index/" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Kategoriler</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Student/Index" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Öğrenciler</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Instructor/Index" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Eğitmenler</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Testimonial/Index" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Referanslar</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Course/Index" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Kurslar</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/CommentAdmin/Index" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Yorumlar</span></a>
                        </li>
                        <!-- İhtiyaca göre daha fazla alt sekme ekleyin -->
                    </ul>
                </li>
                                <!---Veritabanı KISMI-->
        





                <!---SAYFALAR KISMI-->



                <style>
                    /* Alt sekmeleri gizlemek için CSS */
                    .nav-second-level {
                        display: none;
                    }

                    /* Ana menü öğesine tıklanıldığında alt sekmeleri göstermek için CSS */
                    .has-submenu:hover .nav-second-level {
                        display: block;
                    }
                </style>
                <li>
                    <a class="waves-effect waves-dark" href="/AboutDesign/Index" aria-expanded="false">
                        <i class="mdi mdi-account-settings"></i>
                        <span class="hide-menu">Sayfalar</span>

                    </a>
                    <ul class="nav nav-second-level">
                        <li class="has-submenu">
                            <a class="waves-effect waves-dark" href="/AboutDesign/Index" aria-expanded="false">
                                <i class="mdi mdi-account-settings"></i>
                                <span class="hide-menu">Hakkında Sayfası</span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a class="mdi mdi-earth" href="/AboutDesign/Index">Genel</a></li>
                                <li><a class="mdi mdi-earth" href="/AboutService/Index">Hizmetler</a></li>
                                <!-- İhtiyaca göre daha fazla alt sekme ekleyin -->
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/ContactAdmin/Index" aria-expanded="false"><i class="mdi mdi-contacts"></i><span class="hide-menu">İletişim Sayfası</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/SliderAdmin/Index" aria-expanded="false"><i class="mdi mdi-image"></i><span class="hide-menu">Ana Sayfa Slider</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Kurslar</span></a>
                        </li>
                   
                        <!-- İhtiyaca göre daha fazla alt sekme ekleyin -->
                    </ul>
                </li>

                <li>
                    <a class="waves-effect waves-dark" href="/Web/Index" aria-expanded="false">
                        Sayfaya Git
                        </a>
                </li>



                <!---SAYFALAR KISMI Bitiş-->




            </ul>
           
        </nav>
       

    </div>
   

</aside>
